@use "sass:color";
@use "src/styles/variables.scss" as *;

.label {
    text-align: center;
    font-weight: bold;
    font-size: 12rem;
    line-height: 1;
    color: color.adjust($color-danger, $alpha: -0.4);
}

.title {
    font-size: 2rem;
}

.alert {
    margin: 3rem 0;
}
