@use "./variables.scss" as *;

body {
    background-color: $color-bg-primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif !important;
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#root {
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}
